
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
   --background-color: rgba(25, 25, 95, 0.842);
   --background-color-light: #5c5c97b4;
   --background-color-content: rgb(247, 203, 109);
   --background-color-content-hover: rgba(243, 200, 7, 0.836);
   --color-light:  rgba(255, 255, 255, 0.822);
   --color-red-hover: rgb(102, 38, 38);
   --color-white: #fff;
   --border-black-color: #000;
   }